<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<main>
  <div id="carousel">
    <div class="hideLeft">
      <img src="https://s16.postimg.org/vklrwoxtx/cover9.jpg">
    </div>

    <!-- <div class="prevLeftSecond">
      <img src="https://s16.postimg.org/cgsggckzp/cover8.jpg">
    </div>

    <div class="prev">
      <img src="https://s16.postimg.org/emmrauog5/cover7.jpg">
    </div> -->

    <div class="selected">
      <img src="https://s16.postimg.org/9drqcz611/cover1.jpg">
    </div>

    <div class="next">
      <img src="https://s16.postimg.org/pnhwfvgp1/cover6.jpg">
    </div>

    <div class="nextRightSecond">
      <img src="https://s16.postimg.org/edp6kxbnp/cover4.jpg">
    </div>

    <div class="hideRight">
      <img src="https://s16.postimg.org/fij8qay4l/cover3.jpg">
    </div>

  </div>

  <div class="button-left">
    <button id="prev"><</button>
  </div>
  <div class='button-right'>
    <button id="next">></button>
  </div>

</main>
