html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// #main-page {
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

#carousel {
  position: relative;
  height: 400px;
  top: 50%;
  transform: translateY(-50%) translateX(-20%);
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div .card {
  width: 400px;
  height: 400px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft .card {
  width: 400px;
  height: 400px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight .card {
  width: 150px;
  height: 220px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev .card {
  width: 300px;
  height: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond .card {
  width: 200px;
  height: 150px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next .card {
  width: 200px;
  height: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 80%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond .card {
  width: 150px;
  height: 220px;
}

.button-left {
  position: fixed;
  left: 10%;
  cursor: pointer;
}

.button-right {
  position: fixed;
  right: 10%;
  cursor: pointer;
}
